#main-page {
    padding-top: 1px;
    padding-bottom: 10px;
}
h1 {
    font-size: 70px;
    margin-bottom: 0px;
}
h2 {
    font-size: larger;
    margin-left: 5px;
    color: #b1c7b2;
}
h3, #make-bigger1, #make-bigger2, #make-bigger3 {
    font-size: larger;
}
h4 {
    font-size: medium;
    margin-left: 5px;
}
p {
    font-size: 14px;
    margin: 10px;
}
* {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.body-page {
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color: white;
}
#help {
    padding-left: 20px;
}